* {
    box-sizing: border-box;
}

.container {
    max-width: 1400px;

    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.card-simple {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.card-back1 {
    background-image: url(/background1.png);
    background-size: contain;
}