body {
    margin: 0px 100px;
}

@media screen and (max-width: 992px) {
    body {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0px 10px;
    }
}

* {
    box-sizing: border-box;
}